body{
    background-color: #B4FF9F;
}

h2, h3{
    color: #66BFBF;
}


hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: grey;
    height: 0px;
    width: 5%;
}

.emoji{
    background-color: red;
    border-radius: 100%;
}

.emoji:hover{
    background-color: green;
}